.mobilNav {
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  .container {
    .row {
      .mobilNav-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .page-logo {
          a {
            color: #000000;
            font-size: 24px;
            font-weight: 700;
            span {
              color: #407bff;
            }
          }
        }
        .mobilMenu {
          .bi-list {
            font-size: 43px;
            cursor: pointer;
            position: relative;
            .rightMenu {
              position: fixed;
              width: 300px;
              background: #ffffff;
              box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
              padding-top: 5px;
              right: 0;
              top: 0;
              height: 100vh;
              z-index: 9999;
              opacity: 0;
              transform: translateX(300px);
              transition: .3s ease-in-out;
             .close-btn{
              display: flex;
              justify-content: end;
              padding-right: 11px;
              .bi-x-lg {
                font-size: 30px;
              }
             }
              
            }
            .activeMenu{
              transform: translateX(0px);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.desktopNav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  .container {
    .row {
      .navLeftside {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        .page-logo {
          a {
            color: #000000;
            font-size: 24px;
            font-weight: 700;
            span {
              color: #407bff;
            }
          }
        }
        .navigation {
          display: flex;
          gap: 7px;
          .home-page {
            .home-link {
              color: #000000;
              font-size: 14px;
              padding: 10px 15px;
            }
          }
          .drop-page {
            position: relative;
            &:hover {
              .sub-menu1 {
                opacity: 1;
                visibility: visible;
                top: 13px;
              }
            }
            .drop-link {
              color: rgba(0, 0, 0, 0.5);
              font-size: 14px;
              padding: 10px 15px;
              transition: all 0.2s ease;
              .bi-chevron-down {
                font-size: 10px;
              }
              &:hover {
                color: #000000;
              }
            }
            .sub-menu1 {
              opacity: 0;
              visibility: hidden;
              position: absolute;
              z-index: 999;
              transition: all 0.2s ease;
              top: 30px;
              box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
              padding: 20px 0;
              margin-top: 20px;
              background: #ffffff;
              .testim-page {
                min-width: 180px;
                .testi-link {
                  padding: 5px 20px;
                  display: block;
                  color: #407bff;
                }
              }
              .menu2-page {
                min-width: 180px;
                position: relative;
                &:hover {
                  .sub-menu2 {
                    opacity: 1;
                    visibility: visible;
                    top: -20px;
                  }
                }
                .menu2-link {
                  padding: 5px 20px;
                  display: block;
                  display: flex;
                  justify-content: space-between;
                  align-items: baseline;
                  transition: all 0.2s ease;
                  .bi-chevron-right {
                    font-size: 10px;
                  }
                  &:hover {
                    color: #407bff;
                  }
                }
                .sub-menu2 {
                  opacity: 0;
                  visibility: hidden;
                  transition: all 0.2s ease;
                  top: -2px;
                  left: 180px;
                  position: absolute;
                  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
                  padding: 20px 0;
                  margin-top: 20px;
                  background: #ffffff;
                  .one-page {
                    min-width: 180px;
                    .one-link {
                      display: block;
                      padding: 5px 20px;
                      font-size: 14px;
                      color: #407bff;
                    }
                  }
                  .two-page {
                    min-width: 180px;
                    .two-link {
                      display: block;
                      padding: 5px 20px;
                      font-size: 14px;
                      transition: all 0.2s ease;
                      &:hover {
                        color: #407bff;
                      }
                    }
                  }
                  .three-page {
                    min-width: 180px;
                    .three-link {
                      display: block;
                      padding: 5px 20px;
                      font-size: 14px;
                      transition: all 0.2s ease;
                      &:hover {
                        color: #407bff;
                      }
                    }
                  }
                }
              }
              .menu3-page {
                min-width: 180px;
                .menu3-link {
                  padding: 5px 20px;
                  display: block;
                  transition: all 0.2s ease;
                  &:hover {
                    color: #407bff;
                  }
                }
              }
            }
          }
          .feat-page {
            .features-link {
              color: rgba(0, 0, 0, 0.5);
              font-size: 14px;
              padding: 10px 15px;
              transition: all 0.2s ease;
              &:hover {
                color: #000000;
              }
            }
          }
          .pric-page {
            .pricing-link {
              color: rgba(0, 0, 0, 0.5);
              font-size: 14px;
              padding: 10px 15px;
              transition: all 0.2s ease;
              &:hover {
                color: #000000;
              }
            }
          }
          .about-page {
            .about-link {
              color: rgba(0, 0, 0, 0.5);
              font-size: 14px;
              padding: 10px 15px;
              transition: all 0.2s ease;
              &:hover {
                color: #000000;
              }
            }
          }
          .contact-page {
            .contact-link {
              color: rgba(0, 0, 0, 0.5);
              font-size: 14px;
              padding: 10px 15px;
              transition: all 0.2s ease;
              &:hover {
                color: #000000;
              }
            }
          }
        }
      }
      .navRightside {
        display: flex;
        justify-content: end;
        gap: 4px;
        margin-top: 0.25rem;
        .sign-in {
          margin: 0;
          a {
            color: rgba(0, 0, 0, 0.5);
            padding: 6px 24px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            font-size: 14px;
            transition: all 0.2s ease;
            &:hover {
              border-color: #000;
              color: #000;
            }
          }
        }
        .register {
          margin: 0;
          a {
            padding: 7px 24px;
            border: 1px solid transparent;
            color: #ffffff;
            background: #407bff;
            border-radius: 30px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

main {
  #home-page {
    .container {
      .row {
        padding: 4rem 0;
        position: relative;
        &::before {
          transform: translateX(60%);
          position: absolute;
          content: "";
          width: 297px;
          height: 264px;
          overflow: hidden;
          background: url(https://preview.colorlib.com/theme/launch/images/dots.png.webp)
            right top;
          right: -1px;
          z-index: -1;
          top: 58px;
        }
        .promote {
          h1 {
            font-size: 70px;
            line-height: 1;
            font-weight: 700;
            color: #000000;
            margin-bottom: 30px;
            overflow: hidden;
          }
          .another-par {
            font-size: 16px;
            color: #939393;
            line-height: 1.6;
            overflow: hidden;
            a {
              background: rgba(64, 123, 255, 0.07);
              color: #407bff;
            }
          }
          .btn-groups {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 38px;

            .see-feat {
              a {
                background: #407bff;
                border-color: #407bff;
                color: #fff;
                padding-top: 18px;
                padding-bottom: 18px;
                padding-left: 30px;
                padding-right: 30px;
                border-radius: 30px;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 0.05rem;
                transition: all 0.2s ease;
                &:hover {
                  border-color: #5489ff;
                  background: #5489ff;
                }
              }
            }
            .pricing-btn {
              a {
                border: 1px solid #407bff;
                color: #407bff;
                padding-top: 17px;
                padding-bottom: 17px;
                padding-left: 30px;
                padding-right: 30px;
                border-radius: 30px;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 0.05rem;
                transition: all 0.2s ease;
                &:hover {
                  background-color: #407bff;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
  #dashboard-sec {
    background-color: #f8f9fa;
    padding: 100px 0;
    .container {
      .row {
        .dash-img {
          width: 100%;
          border: 10px solid #ffffff;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
          }
          .img-number {
            position: absolute;
            left: 44%;
            bottom: 5%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #407bff;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .serv-group {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .servbox {
            overflow: hidden;
            padding: 20px;
            display: flex;
            gap: 29px;
            align-items: flex-start;
            border-radius: 7px;

            transition: all 0.3s ease-in;
            cursor: pointer;
            &:hover {
              background-color: #fff;
              box-shadow: -1 4px 10px -4px rgba(0, 0, 0, 0.05);
            }
            .serv-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 1.5rem;
              background-color: #6fe7dd;
              width: 40px;
              height: 40px;
              flex: 0 0 40px;
              border-radius: 30%;
              box-shadow: 0 2px 10px 0 rgba(111, 231, 221, 0.3);
              .bi-app-indicator {
                color: #fff;
                font-size: 19px;
              }
            }
            .serv-icon2 {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 1.5rem;
              background-color: #ffc93c;
              width: 40px;
              height: 40px;
              flex: 0 0 40px;
              border-radius: 30%;
              box-shadow: 0 2px 10px 0 rgba(255, 201, 60, 0.3);
              .bi-arrow-repeat {
                color: #fff;
                font-size: 19px;
              }
            }
            .serv-icon3 {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 1.5rem;
              background-color: #f73859;
              width: 40px;
              height: 40px;
              flex: 0 0 40px;
              border-radius: 30%;
              box-shadow: 0 2px 10px 0 rgba(247, 56, 89, 0.3);
              .bi-briefcase {
                color: #fff;
                font-size: 19px;
              }
            }
            .serv-icon4 {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 1.5rem;
              background-color: #407bff;
              width: 40px;
              height: 40px;
              flex: 0 0 40px;
              border-radius: 30%;
              box-shadow: 0 2px 10px 0 rgba(64, 123, 255, 0.3);
              .bi-collection {
                color: #fff;
                font-size: 19px;
              }
            }
            .box-desc {
              h3 {
                font-size: 18px;
                font-weight: 500;
                line-height: 1.2;
              }
              .serv-info {
                font-size: 16px;
                color: #939393;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
  #feat-page {
    padding: 100px 0;
    .container {
      .row {
        .feat-text {
          .digital-ser {
            color: #407bff;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;
            overflow: hidden;
          }
          h3 {
            font-size: 38px;
            color: #000000;
            margin-bottom: 1.5rem;
            overflow: hidden;
          }
          .far-away {
            overflow: hidden;
            p {
              font-size: 16px;
              color: #939393;
            }
            ul {
              li {
                font-size: 16px;
                color: #939393;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                gap: 14px;
                .fa-check {
                  color: #407bff;
                  font-size: 20px;
                }
              }
            }
          }
          .separated {
            margin-top: 20px;
            overflow: hidden;
            h4 {
              font-style: italic;
              color: #000000;
              font-size: 16px;
              line-height: 1.4;
              margin: 0 0 1rem;
              .live-in-book {
                background: rgba(64, 123, 255, 0.07);
              }
            }
            .author {
              display: flex;
              align-items: center;
              gap: 12px;
              img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
              }
              .author-desc {
                .name {
                  font-weight: 400;
                  color: #000000;
                  font-size: 14px;
                  margin: 0;
                }
                .mission {
                  font-size: 14px;
                  font-weight: 400;
                  color: #939393;
                  margin: 0;
                }
              }
            }
          }
        }
        .dashboard {
          width: 100%;
          height: 465px;
          box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.1);
          border: 10px solid #ffffff;
          position: relative;
          &:hover {
            .overlay {
              opacity: 1;
            }
          }
          img {
            width: 100%;
            height: 100%;
          }
          .play-button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 42%;
            left: 42%;
            display: flex;
            align-items: center;
            justify-content: center;
            .fa-play {
              color: #407bff;
            }
          }
          .overlay {
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.1);
            opacity: 0;
            transition: all 0.2s ease;
            cursor: pointer;
          }
        }
      }
    }
  }
  #service-section {
    padding: 100px 0;
    .container {
      .row {
        .service {
          .serv-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.5rem;
            background-color: #6fe7dd;
            width: 50px;
            height: 50px;
            border-radius: 30%;
            box-shadow: 0 2px 10px 0 rgba(111, 231, 221, 0.3);
            .bi-app-indicator {
              color: #fff;
              font-size: 24px;
            }
          }
          .serv-icon2 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.5rem;
            background-color: #ffc93c;
            width: 50px;
            height: 50px;
            border-radius: 30%;
            box-shadow: 0 2px 10px 0 rgba(255, 201, 60, 0.3);
            .bi-arrow-repeat {
              color: #fff;
              font-size: 24px;
            }
          }
          .serv-icon3 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.5rem;
            background-color: #f73859;
            width: 50px;
            height: 50px;
            border-radius: 30%;
            box-shadow: 0 2px 10px 0 rgba(247, 56, 89, 0.3);
            .bi-briefcase {
              color: #fff;
              font-size: 24px;
            }
          }
          .serv-icon4 {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.5rem;
            background-color: #407bff;
            width: 50px;
            height: 50px;
            border-radius: 30%;
            box-shadow: 0 2px 10px 0 rgba(64, 123, 255, 0.3);
            .bi-collection {
              color: #fff;
              font-size: 24px;
            }
          }
          h3 {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.2;
          }
          .serv-info {
            font-size: 16px;
            color: #939393;
          }
        }
      }
    }
  }
  #pricing-sec {
    background-color: #f8f9fa;
    padding: 100px 0;
    .container {
      width: 64%;
      .row {
        .pricing-desc {
          text-align: center;
          overflow: hidden;
          h2 {
            font-size: 38px;
            color: #000000;
          }
          p {
            font-size: 16px;
            color: #939393;
          }
        }
        .pricing-card {
          background: #ffffff;
          border-radius: 40px;
          padding: 50px;
          margin-top: 2.5rem;
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
          .price {
            text-align: center;
            .type {
              font-size: 30px;
              color: #000000;
              display: block;
            }
            .price-numb {
              color: #407bff;
              font-size: 40px;
              sup {
                font-size: 20px;
                top: -15px;
              }
            }
          }
          .checked {
            li {
              font-size: 16px;
              color: #939393;
              padding-left: 10px;
              margin-bottom: 10px;
              display: flex;
              gap: 9px;
              align-items: flex-start;
              .bi-check2 {
                font-size: 20px;
                color: #407bff;
              }
            }
          }
          .get-started {
            text-align: center;
            padding-top: 3rem;
            a {
              border: 1px solid #407bff;
              color: #407bff;
              padding-top: 15px;
              padding-bottom: 15px;
              padding-left: 30px;
              padding-right: 30px;
              border-radius: 30px;
              font-size: 11px;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 0.05rem;
              transition: all 0.3s ease;
              &:hover {
                background-color: #407bff;
                color: #fff;
              }
            }
          }
          .get-started2 {
            text-align: center;
            padding-top: 3rem;
            a {
              border: 1px solid #407bff;

              padding-top: 15px;
              padding-bottom: 15px;
              padding-left: 30px;
              padding-right: 30px;
              border-radius: 30px;
              font-size: 11px;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 0.05rem;
              transition: all 0.3s ease;
              background-color: #407bff;
              color: #fff;
              transition: all 0.3s ease;
              &:hover {
                border-color: #5489ff;
                background: #5489ff;
              }
            }
          }
        }
      }
    }
  }
  #advantage-sec {
    padding: 100px 0;
    .container {
      .row {
        .advantage-desc {
          text-align: center;
          h2 {
            font-size: 38px;
            color: #000000;
          }
          p {
            font-size: 16px;
            color: #939393;
          }
        }
        .service-horizon {
          display: flex;
          padding-top: 2rem;
          .serv-icon {
            background-color: #6fe7dd;
            width: 40px;
            height: 40px;
            box-shadow: 0 2px 10px 0 rgba(111, 231, 221, 0.3);
            border-radius: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;
            flex: 0 0 40px;
            .bi-app-indicator {
              font-size: 20px;
              color: #fff;
            }
          }
          .serv-icon2 {
            background-color: #ffc93c;
            width: 40px;
            height: 40px;
            box-shadow: 0 2px 10px 0 rgba(255, 201, 60, 0.3);
            border-radius: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;
            flex: 0 0 40px;
            .bi-arrow-repeat {
              font-size: 20px;
              color: #fff;
            }
          }
          .serv-icon3 {
            background-color: #f73859;
            width: 40px;
            height: 40px;
            box-shadow: 0 2px 10px 0 rgba(247, 56, 89, 0.3);
            border-radius: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;
            flex: 0 0 40px;
            .bi-briefcase {
              font-size: 20px;
              color: #fff;
            }
          }
          .serv-icon4 {
            background-color: #407bff;
            width: 40px;
            height: 40px;
            box-shadow: 0 2px 10px 0 rgba(64, 123, 255, 0.3);
            border-radius: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 30px;
            flex: 0 0 40px;
            .bi-collection {
              font-size: 20px;
              color: #fff;
            }
          }
          .contents {
            h3 {
              font-size: 18px;
              color: #000000;
              font-weight: 500;
              line-height: 1.2;
            }
            .serv-info {
              font-size: 16px;
              color: #939393;
            }
            .serv-before {
              position: relative;
              display: inline-block;
              &:hover {
                .line {
                  width: 110%;
                }
              }
              .read-more {
                color: #407bff;
                font-size: 13px;
              }
              .line {
                position: absolute;
                bottom: 0;
                background-color: rgba(64, 123, 255, 0.1);
                width: 30%;
                height: 50%;
                left: 0;
                transition: all 0.3s ease;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  .testimonials-section {
    padding: 100px 0;
    .container {
      .slider-layout {
        display: flex;
        align-items: flex-start;
        gap: 40px;

        .left-side {
          width: 30%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding-top: 9px;

          .subtitle {
            color: #3c75ff;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
          }

          h2 {
            font-size: 32px;
            margin: 0;
            font-weight: 600;
          }

          .custom-nav {
            display: flex;
            gap: 12px;
            padding-top: 19px;

            button {
              font-size: 14px;
              padding: 10px 16px;
              border: none;
              background-color: #ccc;
              color: #fff;
              border-radius: 5px;
              cursor: pointer;
            }
          }
        }

        .right-side {
          width: 70%;

          .testimonials-carousel {
            .testimonial-item {
              background-color: #fff;

              border-radius: 12px;
              margin: 10px;

              .quote {
                font-style: italic;
                font-size: 16px;
                margin-bottom: 25px;
                line-height: 1.6;
                color: #000000;
                span {
                  background: rgba(64, 123, 255, 0.07);
                }
              }

              .author {
                display: flex;
                align-items: center;
                gap: 12px;

                .author-img {
                  border-radius: 50%;
                  width: 50px;
                  height: 50px;
                }
                .author-name {
                  .name {
                    font-weight: 400;
                    color: #000000;
                    font-size: 14px;
                    margin: 0;
                  }
                  .mission {
                    font-size: 14px;
                    font-weight: 400;
                    color: #939393;
                    margin: 0;
                  }
                }
              }
            }
            .owl-dots {
              text-align: center;
              margin-top: 20px;

              .owl-dot {
                display: inline-block;
                width: 8px;
                height: 8px;
                margin: 5px;
                background: #ccc;
                border-radius: 50%;
                transition: background 0.3s ease;

                &.active {
                  background: #3c75ff;
                }
              }
            }
          }
        }
      }
    }
  }
  #about-sec {
    margin-bottom: 100px;
    .container {
      .row {
        .about-img {
          width: 100%;
          height: auto;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .about-text {
          .head {
            color: #407bff;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block;
          }
          h2 {
            font-size: 38px;
            color: #000000;
            font-weight: 500;
            line-height: 1.2;
          }
          p {
            font-size: 16px;
            color: #939393;
            margin-bottom: 1.5rem;
            .highlights {
              background: rgba(64, 123, 255, 0.07);
            }
          }
          .list {
            margin-bottom: 1.5rem;
            li {
              font-size: 16px;
              color: #939393;
              display: flex;
              gap: 10px;
              align-items: flex-start;
              .bi-check2 {
                color: #407bff;
                font-size: 21px;
              }
            }
          }
          .count-numb {
            display: flex;
            justify-content: space-between;
            width: 238px;
            .members-numb {
              .number {
                color: #000000;
                font-size: 40px;
                display: block;
              }
              .count-text {
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 700;
                letter-spacing: 0.1rem;
                color: #939393;
              }
            }
            .team-numb {
              .number {
                color: #000000;
                font-size: 40px;
                display: block;
              }
              .count-text {
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 700;
                letter-spacing: 0.1rem;
                color: #939393;
              }
            }
          }
        }
      }
    }
  }
  #news {
    padding: 100px 0;
    background-color: #f8f9fa;
    .container {
      .row {
        .news-tittle {
          text-align: center;
          h2 {
            font-size: 38px;
            color: #000000;
          }
          p {
            font-size: 16px;
            color: #939393;
          }
        }
        .news-card {
          background: rgb(255, 255, 255);
          padding: 30px;
          transition: all 0.3s ease;
          transform: translateY(0px);
          cursor: pointer;
          margin-top: 1.5rem;
          &:hover {
            transform: translateY(-10px);
            box-shadow: rgba(0, 0, 0, 0.05) 0px 15px 30px 0px;
          }
          .author {
            display: flex;
            align-items: flex-start;
            gap: 18px;
            margin-bottom: 1.5rem;
            img {
              width: 50px;
              height: 50px;
              border-radius: 60%;
              object-fit: cover;
            }
            .author-desc {
              .name {
                font-weight: 700;
                color: rgb(0, 0, 0);
                font-size: 16px;
                margin: 0;
              }
              .date {
                color: rgb(198, 198, 198);
                line-height: 1.4;
                font-size: 16px;
              }
            }
          }
          .news-content {
            span {
              font-size: 13px;
              color: rgb(198, 198, 198);
              display: block;
              margin-bottom: 20px;
            }
            h3 {
              margin-bottom: 1.5rem;
              a {
                color: rgb(0, 0, 0);
                line-height: 1.2;
                transition: 0.3s ease-in-out;
                &:hover {
                  color: #407bff;
                }
              }
            }
            .readMoreNews {
              position: relative;
              &:hover {
                .square-back {
                  background-color: #407bff;
                }
                .bi-arrow-right {
                  left: 30px;
                }
              }
              .bi-arrow-right {
                font-size: 26px;
                cursor: pointer;
                transition: all 0.3s ease;
                position: relative;
                z-index: 1;
                left: 0;
              }
              .square-back {
                position: absolute;
                width: 25px;
                height: 25px;
                background: rgb(248, 249, 250);
                top: 4px;
                left: 13px;
                cursor: pointer;
                transition: 0.3s ease;
              }
            }
          }
        }
      }
    }
  }
  #contact-sec {
    padding: 100px 0;
    .container {
      .row {
        display: flex;
        justify-content: space-between;
        .get-in-touch {
          text-align: center;
          h2 {
            font-size: 38px;
            color: #000000;
          }
          p {
            font-size: 16px;
            color: #939393;
          }
        }
        .contact-form {
          margin-top: 2rem;
          form {
            .row {
              margin-bottom: 1rem;
              .first_name {
                label {
                  font-size: 16px;
                  color: #939393;
                }
                .name {
                  border: none;
                  font-size: 16px;
                  height: 45px;
                  padding-left: 0;
                  padding-right: 0;
                  background: transparent;
                  border-bottom: 1px solid #43434d;
                  color: #000000;
                  font-weight: 400;
                  outline: none;
                  line-height: 1.5;
                  display: block;
                  width: 100%;
                }
              }
              .last_name {
                label {
                  font-size: 16px;
                  color: #939393;
                }
                .surname {
                  border: none;
                  font-size: 16px;
                  height: 45px;
                  padding-left: 0;
                  padding-right: 0;
                  background: transparent;
                  border-bottom: 1px solid #43434d;
                  color: #000000;
                  font-weight: 400;
                  outline: none;
                  line-height: 1.5;
                  display: block;
                  width: 100%;
                }
              }
            }
            .email {
              margin-bottom: 1rem;
              label {
                font-size: 16px;
                color: #939393;
              }
              .email-inp {
                border: none;
                font-size: 16px;
                height: 45px;
                padding-left: 0;
                padding-right: 0;
                background: transparent;
                border-bottom: 1px solid #43434d;
                color: #000000;
                font-weight: 400;
                outline: none;
                line-height: 1.5;
                display: block;
                width: 100%;
              }
            }
            .message {
              margin-bottom: 1rem;
              label {
                font-size: 16px;
                color: #939393;
              }
              textarea {
                border: none;
                font-size: 16px;
                padding-left: 0;
                padding-right: 0;
                background: transparent;
                border-bottom: 1px solid #43434d;
                border-radius: 0;
                color: #000000;
                outline: none;
                width: 100%;
              }
            }
            button {
              padding-top: 15px;
              padding-bottom: 15px;
              padding-left: 30px;
              padding-right: 30px;
              border-radius: 30px;
              font-size: 11px;
              text-transform: uppercase;
              font-weight: 700;
              outline: none;
            }
          }
        }
        .contact-info {
          margin-top: 1.5rem;
          h3 {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 1.5rem;
            color: #000;
          }
          .contact-list {
            li {
              margin-bottom: 1rem;
              font-size: 16px;
              display: flex;
              align-items: baseline;
              gap: 8px;
              transition: 0.3s ease-in-out;
              cursor: pointer;
              &:hover {
                color: #0d6efd;
              }
              .fa-solid {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  padding: 70px 0;
  background: #efefef;
  .container {
    .row {
      .widget {
        h3 {
          font-size: 16px;
          color: #000000;
          margin-bottom: 30px;
          span {
            color: #407bff;
          }
        }
        p {
          font-size: 14px;
          color: #888;
        }
        .connect {
          padding-top: 20px;
          h3 {
            font-size: 16px;
            color: #000000;
            margin-bottom: 30px;
          }
          ul {
            display: flex;
            gap: 5px;
            li {
              a {
                width: 30px;
                height: 30px;
                position: relative;
                background: #777;
                border-radius: 50%;
                color: #ffffff;
                display: inline-block;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.2s ease;
                &:hover {
                  background-color: #407bff;
                }
              }
            }
          }
        }
      }
      .projects {
        /* margin-left: 4rem; */
        h3 {
          font-size: 16px;
          color: #000000;
          margin-bottom: 30px;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;
          li {
            a {
              font-size: 14px;
              color: #888;
            }
          }
        }
      }
      .copyright {
        margin-top: 5rem;
        text-align: center;
        p {
          font-size: 14px;
          color: #888;
          .fa-heart {
            color: #dc3545;
          }
          a {
            color: #407bff;
          }
        }
      }
    }
  }
}
