.desktopNav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  .container {
    .row {
      .navLeftside {
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        .page-logo {
          a {
            color: #000000;
            font-size: 24px;
            font-weight: 700;
            span {
              color: #407bff;
            }
          }
        }
        .navigation {
          display: flex;
          gap: 7px;
          .home-page {
            .home-link {
              color: #000000;
              font-size: 14px;
              padding: 10px 15px;
            }
          }
          .drop-page {
            position: relative;
            &:hover {
              .sub-menu1 {
                opacity: 1;
                visibility: visible;
                top: 13px;
              }
            }
            .drop-link {
              color: rgba(0, 0, 0, 0.5);
              font-size: 14px;
              padding: 10px 15px;
              transition: all 0.2s ease;
              .bi-chevron-down {
                font-size: 10px;
              }
              &:hover {
                color: #000000;
              }
            }
            .sub-menu1 {
              opacity: 0;
              visibility: hidden;
              position: absolute;
              z-index: 999;
              transition: all 0.2s ease;
              top: 30px;
              box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
              padding: 20px 0;
              margin-top: 20px;
              background: #ffffff;
              .testim-page {
                min-width: 180px;
                .testi-link {
                  padding: 5px 20px;
                  display: block;
                  color: #407bff;
                }
              }
              .menu2-page {
                min-width: 180px;
                position: relative;
                &:hover {
                  .sub-menu2 {
                    opacity: 1;
                    visibility: visible;
                    top: -20px;
                  }
                }
                .menu2-link {
                  padding: 5px 20px;
                  display: block;
                  display: flex;
                  justify-content: space-between;
                  align-items: baseline;
                  transition: all 0.2s ease;
                  .bi-chevron-right {
                    font-size: 10px;
                  }
                  &:hover {
                    color: #407bff;
                  }
                }
                .sub-menu2 {
                  opacity: 0;
                  visibility: hidden;
                  transition: all 0.2s ease;
                  top: -2px;
                  left: 180px;
                  position: absolute;
                  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
                  padding: 20px 0;
                  margin-top: 20px;
                  background: #ffffff;
                  .one-page {
                    min-width: 180px;
                    .one-link {
                      display: block;
                      padding: 5px 20px;
                      font-size: 14px;
                      color: #407bff;
                    }
                  }
                  .two-page {
                    min-width: 180px;
                    .two-link {
                      display: block;
                      padding: 5px 20px;
                      font-size: 14px;
                      transition: all 0.2s ease;
                      &:hover {
                        color: #407bff;
                      }
                    }
                  }
                  .three-page {
                    min-width: 180px;
                    .three-link {
                      display: block;
                      padding: 5px 20px;
                      font-size: 14px;
                      transition: all 0.2s ease;
                      &:hover {
                        color: #407bff;
                      }
                    }
                  }
                }
              }
              .menu3-page {
                min-width: 180px;
                .menu3-link {
                  padding: 5px 20px;
                  display: block;
                  transition: all 0.2s ease;
                  &:hover {
                    color: #407bff;
                  }
                }
              }
            }
          }
          .feat-page {
            .features-link {
              color: rgba(0, 0, 0, 0.5);
              font-size: 14px;
              padding: 10px 15px;
              transition: all 0.2s ease;
              &:hover {
                color: #000000;
              }
            }
          }
          .pric-page {
            .pricing-link {
              color: rgba(0, 0, 0, 0.5);
              font-size: 14px;
              padding: 10px 15px;
              transition: all 0.2s ease;
              &:hover {
                color: #000000;
              }
            }
          }
          .about-page {
            .about-link {
              color: rgba(0, 0, 0, 0.5);
              font-size: 14px;
              padding: 10px 15px;
              transition: all 0.2s ease;
              &:hover {
                color: #000000;
              }
            }
          }
          .contact-page {
            .contact-link {
              color: rgba(0, 0, 0, 0.5);
              font-size: 14px;
              padding: 10px 15px;
              transition: all 0.2s ease;
              &:hover {
                color: #000000;
              }
            }
          }
        }
      }
      .navRightside {
        display: flex;
        justify-content: end;
        gap: 4px;
        margin-top: 0.25rem;
        .sign-in {
          margin: 0;
          a {
            color: rgba(0, 0, 0, 0.5);
            padding: 6px 24px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            font-size: 14px;
            transition: all 0.2s ease;
            &:hover {
              border-color: #000;
              color: #000;
            }
          }
        }
        .register {
          margin: 0;
          a {
            padding: 7px 24px;
            border: 1px solid transparent;
            color: #ffffff;
            background: #407bff;
            border-radius: 30px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

main {
  #home-page {
    .container {
      .row {
        padding: 4rem 0;
        position: relative;
        &::before {
          transform: translateX(60%);
          position: absolute;
          content: "";
          width: 297px;
          height: 264px;
          background: url(https://preview.colorlib.com/theme/launch/images/dots.png.webp) right top;
          right: -1px;
          z-index: -1;
          top: 58px;
        }
        .promote {
          h1 {
            font-size: 70px;
            line-height: 1;
            font-weight: 700;
            color: #000000;
            margin-bottom: 30px;
            overflow: hidden;
          }
          .another-par {
            font-size: 16px;
            color: #939393;
            line-height: 1.6;
            overflow: hidden;
            a {
              background: rgba(64, 123, 255, 0.07);
              color: #407bff;
            }
          }
          .btn-groups {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 38px;

            .see-feat {
              a {
                background: #407bff;
                border-color: #407bff;
                color: #fff;
                padding-top: 18px;
                padding-bottom: 18px;
                padding-left: 30px;
                padding-right: 30px;
                border-radius: 30px;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 0.05rem;
                transition: all 0.2s ease;
                &:hover {
                  border-color: #5489ff;
                  background: #5489ff;
                }
              }
            }
            .pricing-btn {
              a {
                border: 1px solid #407bff;
                color: #407bff;
                padding-top: 17px;
                padding-bottom: 17px;
                padding-left: 30px;
                padding-right: 30px;
                border-radius: 30px;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 0.05rem;
                transition: all 0.2s ease;
                &:hover {
                  background-color: #407bff;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
  #feat-page {
    padding: 100px 0;
    .container {
      .row {
        .feat-text {
          .digital-ser {
            color: #407bff;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 700;
            overflow: hidden;
          }
          h3 {
            font-size: 38px;
            color: #000000;
            margin-bottom: 1.5rem;
            overflow: hidden;
          }
          .far-away {
            overflow: hidden;
            p {
              font-size: 16px;
              color: #939393;
            }
            ul {
              li {
                font-size: 16px;
                color: #939393;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                gap: 14px;
                .fa-check {
                  color: #407bff;
                  font-size: 20px;
                }
              }
            }
          }
          .separated {
            margin-top: 20px;
            overflow: hidden;
            h4 {
              font-style: italic;
              color: #000000;
              font-size: 16px;
              line-height: 1.4;
              margin: 0 0 1rem;
              .live-in-book {
                background: rgba(64, 123, 255, 0.07);
              }
            }
            .author {
              display: flex;
              align-items: center;
              gap: 12px;
              img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
              }
              .author-desc {
                .name {
                  font-weight: 400;
                  color: #000000;
                  font-size: 14px;
                  margin: 0;
                }
                .mission {
                  font-size: 14px;
                  font-weight: 400;
                  color: #939393;
                  margin: 0;
                }
              }
            }
          }
        }
        .dashboard {
          width: 100%;
          height: 465px;
          box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.1);
          border: 10px solid #ffffff;
          position: relative;
          &:hover {
            .overlay {
              opacity: 1;
            }
          }
          img {
            width: 100%;
            height: 100%;
          }
          .play-button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 42%;
            left: 42%;
            display: flex;
            align-items: center;
            justify-content: center;
            .fa-play {
              color: #407bff;
            }
          }
          .overlay {
            position: absolute;
            inset: 0;
            background: rgba(0, 0, 0, 0.1);
            opacity: 0;
            transition: all 0.2s ease;
            cursor: pointer;
          }
        }
      }
    }
  }
}

footer {
  padding: 70px 0;
  background: #efefef;
  .container {
    .row {
      .widget {
        h3 {
          font-size: 16px;
          color: #000000;
          margin-bottom: 30px;
          span {
            color: #407bff;
          }
        }
        p {
          font-size: 14px;
          color: #888;
        }
        .connect {
          padding-top: 20px;
          h3 {
            font-size: 16px;
            color: #000000;
            margin-bottom: 30px;
          }
          ul {
            display: flex;
            gap: 5px;
            li {
              a {
                width: 30px;
                height: 30px;
                position: relative;
                background: #777;
                border-radius: 50%;
                color: #ffffff;
                display: inline-block;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.2s ease;
                &:hover {
                  background-color: #407bff;
                }
              }
            }
          }
        }
      }
      .projects {
        /* margin-left: 4rem; */
        h3 {
          font-size: 16px;
          color: #000000;
          margin-bottom: 30px;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 10px;
          li {
            a {
              font-size: 14px;
              color: #888;
            }
          }
        }
      }
      .copyright {
        margin-top: 5rem;
        text-align: center;
        p {
          font-size: 14px;
          color: #888;
          .fa-heart {
            color: #dc3545;
          }
          a {
            color: #407BFF;
          }
        }
      }
    }
  }
}
